body {
    width: 960px;
    font-family: Arial, 'Helvetica Nue' Helvetica, sans-serif; 
    color: #7777;
    background-color: #777;
    font-size: 18px;
    margin-left: 100px
    margin-right: 200px
}
header {
    background-color: #ebebeb;

}
nav {

}
section {

}
aside {

}
footer {

}
article {
}
